*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none !important;
}

#site-main{
    margin-top: 50px;
}

.table td, table th{
    vertical-align: middle;
    text-align: center;
}

.table .btn:hover{
    background: #db0000 !important;
    color: white;
}

#update_movie{
    margin-top: 20px;
    margin-bottom: 100px;
}

#category input{
    margin-left: 20px;
}

.btn-dark{
    margin-top: 20px;
}

.logo img{
    max-width: 25% !important;
    margin: auto;
}

#myList tr:hover{
    background: red !important;
}

table tr {
    cursor: pointer;
}